body {
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: $main;
}

h1 {
	font-family: 'Molengo', Georgia, Times, serif;
	font-size: 56px;
	line-height: 80px;
}

h2 {
    font-family: 'ninja_narutoregular';
}

main {
    width: 100vw;
    height: 100vh;
    background: rgb(41, 41, 41);
}

div {
    box-sizing: border-box;
}

 