#game-info {
      height: 50px;
      background: transparent;
      padding: 20px 20px 0;
      margin-bottom: 50px;
      .ninja-counters,
      .monster-counters {
            width: 50%;
            text-align: left;
            padding-top: 11px;
            img {
                  display: block;
                  float: left;
                  border-radius: 50%;
                  width: 60px;
            }
            .ninja-health,
            .monster-health {
                  float: left;
                  width: calc(100% - 80px);
                  border: 1px solid white;
                  height: 25px;
                  border-radius: 10px;
                  overflow: hidden;
                  margin: 20px 12px 0 8px;
                  span {
                        display: block;
                        height: 100%;
                        @include transition(all .3s linear);
                  }
            }
      }
      .ninja-counters {
            span {
                  background: #9f1a2f;
            }
      }
}

body {
      &.level1 {
            .monster-counters {
                  span {
                        background: #f5ef80;
                  }
            }
      }
      &.level2 {
            .monster-counters {
                  span {
                        background: #f3b406;
                  }
            }
      }
      &.level3 {
            .monster-counters {
                  span {
                        background: #f307b9;
                  }
            }
      }
}